.kotak1{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	width: 100%;
	padding: 5px;
	background: #0099ff;
	text-align: center;
	color: white;
	font-family: 'Courier New';
}

.kotak2{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
    float:left;
    width:35%;
    height: auto;
    padding:5px;
    background: #0099ff;
    text-align: left;
    color: white;
    font-family: 'Courier New';
}

.kotak3{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	float:right;
    width:60%;
    height: auto;
    padding: 5px;
    background:white;
    text-align: right;
    color: #0099ff;
    font-family: 'Courier New';
}

.foto{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
